body {
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__text {
    color: white;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #666;
  padding: 20px;

  &__container {
    background-color: white;
    border-radius: 2px;
  }
}
