body {
  background-color: black; }

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.header__text {
  color: white; }

.header__container {
  background-color: black; }

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.form__container {
  background-color: white;
  border-radius: 2px;
  padding: 40px; }

.form__data {
  border: solid; }

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px; }

.img__container {
  background-color: white;
  box-shadow: 5px 5px 12px 15px grey; }
